
<% layout("../views/layout/boilerplate2.ejs")%>

    <header>

        <section>
            <!-- MAIN CONTAINER -->
            <div id="container">
                <!-- PLATFORM NAME -->
                <div id="MEDICare"><a href="index.html"> <b><b>MEDI</b></b>Care</a></div>
                <!-- COLLETIONS ON WEBSITE -->
                <div id="collection">
                    <div id="home"><a href="home.html"> Home </a></div>
                    <div id="about"><a href="about.html"> About </a></div>
                    <div id="hospitals"><a href="hospitals.html"> Hospitals </a></div>
                </div>
                <!-- SEARCH SECTION -->
                <div id="search">
                    <i class="fas fa-search search"></i>
                    <input type="text" id="input" name="searchBox" placeholder="Search for Hospitals or Doctors">
                </div>
                <!-- EMERGENCY SECTION -->
                <!-- <div id="emergency">
                        <a href="emergency.html"><img src="pics/emergency'.jpg" alt="(/)" id="emergency" style="height: 1rem width: 1rem" > </div></i></a>
                        <a href="#><i class="emergency"></i></a>
                    </div> -->
            </div>

            <div class="content">
                <section class="main-section">

                    <div class="content-left">
                        <!-- <p class="section-label">Very proud to introduce</p> -->
                        <h1 class="section-title"> Making your health our,<b> <i>First Priority</i></b></h1>
                        <p class="section-description">
                            Making your health our,<b>First Priority</b>Making your health our,<b>First
                                Priority</b>Making your health our,<b>First Priority</b>Making your health our,<b>First
                                Priority</b>Making your health our,<b>First Priority</b>Making your health our,<b>First
                                Priority</b>Making your,<b>First Priority</b>.
                        </p>
                        <div class="button-group">
                            <a href="#start" class="start-button">Book an Appointment</a>
                            <a href="#tour" class="tour-button">Take Tour</a>
                        </div>
                    </div>
                    <div class="content-right" style="margin-bottom: 100px;">

                        <div class="image-container" style="margin-top: 200px;">
                            <img src="/pics/doc.jpg"alt="sectionImage" class="section-Image">
                        </div>

                    </div>
                </section>

            </div>

        </section>
        <div class="chatbot">
            <!-- <iframe src="https://www.chatbase.co/chatbot-iframe/HWhMsUtNnTUDNL44cqSPE" width="25%"
                style="height: 100%; min-height: 700px" frameborder="0"></iframe> -->
            <script>
                window.embeddedChatbotConfig = {
                    chatbotId: "HWhMsUtNnTUDNL44cqSPE",
                    domain: "www.chatbase.co"
                }
            </script>
            <script src="https://www.chatbase.co/embed.min.js" chatbotId="HWhMsUtNnTUDNL44cqSPE"
                domain="www.chatbase.co" defer>
                </script>
        </div>





    </header>
    <br><hr>
    <div class="feature-container">
        <div class="feature-content">
            <div class="main-info">
                <h2 class="main-title"><u>
                        Our SERVICES:</u>
                </h2>
                <p class="main-description">
                    This is the advange parah section. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat
                    cum labore temporibus sapiente.
                </p>
            </div>

            <div class="feature-grid">
                <!-- card 1 -->
        
                    <div class="feature-card">
                        <div class="icon-container">
                             <img src="/pics/appointment.jpg" alt="{/}" class="feature-svg">
                         </div>
                         <div class="feature-info">
                             <div class="feature-title">
                                <a href="/opdreg">Online Appointment</a>
                             </div>
                             <div class="feature-description">
                                 Now, you don't need to wait in long queue for getting medical check-up you can book your
                                 appointment from anywhere anytime.
                             </div>
                         </div>
                     </div>
                <!-- card 2 -->
                <div class="feature-card">
                    <div class="icon-container">
                        <img src="/pics/management.jpg" alt="{/}" class="feature-svg">
                    </div>
                    <div class="feature-info">
                        <div class="feature-title">
                            Inventory Management
                        </div>
                        <div class="feature-description">
                            Manage your inventory for medicines and equipment and never run out of these with our
                            inventory management tools.
                        </div>
                    </div>
                </div>
                <!-- card 3 -->
                <div class="feature-card">
                    <div class="icon-container">
                        <img src="/pics/bed.jpg" alt="{/}" class="feature-svg">
                    </div>
                    <div class="feature-info">
                        <div class="feature-title">
                            Bed Availability
                        </div>
                        <div class="feature-description">

                        </div>Easily manage the bed status and currently admitted patient through properly organised
                        dashboard and maintain their record.
                    </div>
                </div>
                <!-- card 4 -->
                <div class="feature-card">
                    <div class="icon-container">
                        <img src="/pics/patient.jpg" alt="{/}" class="feature-svg">
                    </div>
                    <div class="feature-info">
                        <div class="feature-title">
                            Patient Admission
                        </div>
                        <div class="feature-description">
                            Currently admitted patient through properly organised dashboard and maintain their record.
                        </div>
                    </div>
                </div>


                <!-- <div class="aim-container"> -->
                <!-- <div class="aim-content"> -->
                <!-- <div class="main-info"> -->
                <!-- <h2 class="main-title"><u>
                        OUR AIM:</u>
                </h2>
                <p class="main-description">
                    This is the advange parah section. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat
                    cum labore temporibus sapiente.
                </p> -->
            </div>
            <br><hr>
            <div class="main-info"></div>
                <h2 class="main-title"><u>
                        Our AIM:</u>
                </h2>
                <p class="main-description">
                    This is the advange parah section. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat
                    cum labore temporibus sapiente.
                </p>
            </div>

            <div class="aim-grid">
                <!-- card 1 -->
                <div class="aim-card">
                    <div class="aim-container">
                        <img src="pics/no1.jpg" alt="{/}" class="aim-svg">
                    </div>
                    <div class="aim-info">
                        <div class="aim-title">
                            Aim-1 :~
                        </div>
                        <div class="aim-description">
                            We aim to provide a city wide solution to make your medical appointment easy to make your
                            medical appointment easy and hustle free.
                        </div>
                    </div>
                </div>

                <!-- card 2 -->
                <div class="aim-card">
                    <div class="aim-container">
                        <img src="pics/no2.jpg" alt="{/}" class="aim-svg">
                    </div>
                    <div class="aim-info">
                        <div class="aim-title">
                            Aim-2 :~
                        </div>
                        <div class="aim-description">
                            You don't need to stay in long waiting queue for your next appointment with the doctor.
                        </div>
                    </div>
                </div>

                <!-- card 3 -->
                <div class="aim-card">
                    <div class="aim-container">
                        <img src="pics/no3.jpg" alt="{/}" class="aim-svg">
                    </div>
                    <div class="aim-info">
                        <div class="aim-title">
                            Aim-3 :~
                        </div>
                        <div class="aim-description">
                            We aim to provide a city wide solution to make your medical appointment easy to make your
                            medical appointment easy and hustle free. You don't need to stay in long waiting queue for
                            your next appointment with the doctor.
                        </div>
                    </div>
                </div>




                <br><br><br><br><br><br>


                <footer>

                    <div id="containerFooter">

                        <div id="webFooter">
                            <h3> Helpful Links </h3>
                            <p> Home </p>
                            <p> Contact </p>
                            <p> FAQ </p>
                            <p> India </p>
                        </div>

                        <div id="webFooter">
                            <h3> COMPANY </h3>
                            <p> Investor </p>
                            <p> About </p>
                            <p> Press </p>
                            <p> Blog </p>
                        </div>

                        <div id="webFooter">
                            <h3> SUPPORT </h3>
                            <p> Documentation </p>
                            <p> Content </p>
                            <p> Chat </p>
                            <p> + many more </p>
                        </div>

                        <div id="webFooter">
                            <h3> LEGAL </h3>
                            <p> Terms of Service </p>
                            <p> Privacy policy </p>
                            <p> Cookie Settings </p>
                        </div>

                    </div>
                    <div id="credit">
                        <a href="#"> © Code Crafters </a>

                    </div>


                </footer>