<% layout("../views/layout/boilerplate.ejs")%>

    <form action="">

        <div class="container">
            <h1>OPD Registration</h1>
            <h2>New Appointment</h2><br><br><br><br>

            <label for="department">Department</label>
            <select name="department" id="department">
                <option value=""> Select Option </option>
                <option value="A"> A </option>
                <option value="B"> B </option>
                <option value="C"> C </option>
            </select><br>

            <label for="hospital">Hospital</label>
            <select name="hospital" id="hospital">
                <option value=""> Select Option </option>
                <option value="A"> A </option>
                <option value="B"> B </option>
                <option value="C"> C </option>
            </select><br>

            <label for="doctor">Doctor</label>
            <select name="doctor" id="doctor">
                <option value=""> Select Option </option>
                <option value="A"> A </option>
                <option value="B"> B </option>
                <option value="C"> C </option>
            </select><br>

            <label for="date">Select Appointment Date:</label>
            <input type="date" name="date" id="date"><br>
        </div>
    </form>