<% layout("../views/layout/boilerplate.ejs")%>

    <form action="">

        <div class="container">
            <h1>OPD Registration</h1>
            <h2>New Appointment</h2><br><br><br><br>

            <label for="first">Department</label>
            <select name="first" id="first">
                <option value=""> Select Option </option>
                <option value="A"> A </option>
                <option value="B"> B </option>
                <option value="C"> C </option>
            </select><br>

            <label for="first">Hospital</label>
            <select name="first" id="first">
                <option value=""> Select Option </option>
                <option value="A"> A </option>
                <option value="B"> B </option>
                <option value="C"> C </option>
            </select><br>

            <label for="first">Doctor</label>
            <select name="first" id="first">
                <option value=""> Select Option </option>
                <option value="A"> A </option>
                <option value="B"> B </option>
                <option value="C"> C </option>
            </select><br>

        </div>
    </form>